#jobs
  .job
    %h2= @job.title
    %p= markdown @job.description
    %h3= @job.company
    %button.btn.btn-default= link_to 'Apply for Job', @job.url

#links
  - if (user_signed_in? && (current_user.id == @job.user_id))
    = link_to 'Back', root_path, class: "btn btn-sm btn-default"
    = link_to 'Edit', edit_job_path(@job), class: "btn btn-sm btn-default"
    = link_to 'Delete', job_path(@job), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-sm btn-default"
